* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  background-image: url("./assets/images/cosmos.jpg");
  background-size: cover;
}

header h1 {
  color: #323335;
  font-size: 50px;
  background-color: #75d6b9;
  height: 60px;
  padding-right: 10px;
  padding-left: 50px;
}

header img {
  height: 200px;
  width: 200px;
  border: 3px solid #75d6b9;
  margin: 20px;
}

.name-img {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(55, 59, 59);
}

nav a {
  color: #75d6b9;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  border-bottom: 5px solid #75d6b9;
  margin: 5px;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

main h2 {
  color: rgb(55, 59, 59);
  background: #75d6b9;
  font-size: 15px;
  font-style: bold;
}

aside {
  flex: 1;
  background-color: #fefaff;
  padding-right: 10px;
  text-align: right;
  border-right: 5px solid #75d6b9;
}

aside h2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin: 0;
  font-size: 35px;
  background-color: #fefaff;
}

/* About Me section */
.about-me {
  flex: 4;
  background-color: #fefaff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Work examples section */
.work-examples {
  flex: 4;
  color: #fefaff;
  background-color: #fefaff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-style: solid;
  border-color: #75d6b9;
  flex: 0 0 400px;
  overflow: hidden;
  margin: 5px;
  max-height: 200px;
}

.card img {
  width: 100%;
  opacity: 50%;
  position: relative;
}

.card h2 {
  padding: 20px;
  z-index: 9999;
  position: absolute;
  margin-top: 100px;
}

#large-card {
  flex: 0 0 810px;
  max-height: 400px;
}

#large-card h2 {
  margin-top: 250px;
}

/* Contact section */
.contact {
  flex: 4;
  background-color: #fefaff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.contact a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.contact p {
  border-bottom: 5px solid #75d6b9;
  padding-bottom: 5px;
}

/* Link interactions */
nav a:hover {
  color: rgb(0, 183, 255);
  border-bottom: 5px solid rgb(0, 183, 255);
}

.card img:hover {opacity: 100%;}

.contact a:link {color:rgb(55, 59, 59);}

.contact a:visited {color: rgb(55, 59, 59);}

.contact a:hover {color: #75d6b9;}

.contact a:active {color: red;}


/* Adaptive layout section*/
@media screen and (max-width: 1060px) {
  h1 {
      width: 220px;
      padding-bottom: 115px;
      margin-right: 5px;
  }
  
  #large-card {
      max-width: 450px;
  }

  #large-card h2 {
      margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  header img {
      width: 100px;
      height: 100px;
      margin-left: 5px;
  }
  
  main, nav {
      flex-direction: column;
      align-items: center;
  }
  
  aside {
      border-right: none;
      text-align: center;
  }

  .contact {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  
  #large-card {
      max-width: 450px;
  }

  #large-card h2 {
      margin-top: 100px;
  }
}



/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

